@charset "UTF-8";

html {
  background-color: white;
}
section p {
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}
.center-block {
  width: 960px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
canvas {
    background-color: black;
    margin-bottom: 100px;
}


@media only screen and (min-width:960px)and (max-width:1299px) {
    p {
     font-size: 16px;
    }

    .center-block {
        width: 800px;
    }

    canvas {
      width: 800px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
}

@media only screen and (min-width:600px) and (max-width:959px) {
    p {
     font-size: 16px;
    }

    .center-block {
        width: 600px;
    }

    canvas {
      width: 600px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

}


@media only screen and (max-width:599px) {
    section p {
     font-size: 14px;
    }

    .center-block {
        width: 400px;
    }

    canvas {
      width: 380px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
}
